
{% extends 'shop/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Your shopping cart {% endblock %}
</head>
<body>
{% block content %}

<h1>Your shopping cart </h1>
<table>
    <thead>
    <tr>
        <th>Img</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.photo.url }}" alt="">
                </a>
            </td>
            <td>
                {{ product.name }}
            </td>

            <td>
                {{ item.quantity }}
            </td>

            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ ite.update_quantity_form.quantity }}
                    {{ ite.update_quantity_form.override }}
                    <input type="submit" name="" value="Update">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input type="submit" name="" id="" value="Remove">
                    {% csrf_token %}
                </form>

            </td>

            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor  %}

    <tr>
        <td>Total</td>
        <td></td>
        <td>${{ cart.get_total_price }}</td>
    </tr>
    </tbody>
</table>
<p>
    <a href="{% url 'shop:product_list' %}"> Cantinue shoping</a>
    <a href="#">Chekout</a>

</p>
{% endblock %}

</body>
</html>